[Unit]
Description=Create Public Matrix Room
After= dendrite.service
Requires= dendrite.service

[Service]
Type=simple
Environment="PATH=/home/pi/butter/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/{{ butter_user }}/butter/bin/python3 /home/{{ butter_user }}/create_public_room.py
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
